*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  width: 100%;
  z-index: 1000; /* Ensure Navbar stays on top */
}

.sidebar {
  width: 250px; /* Adjust as needed */
  height: 100vh;
  /* overflow-y: auto; Scrollable sidebar */
}

/* .App {
  display: flex;
}

.main-content {
  margin-left: 60px;
  padding: 20px;
  width: calc(100% - 60px);
  transition: margin-left 0.3s ease;
}

.sidebar.open + .main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
} */